<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="co.onlini.beacome"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-feature android:name="android.hardware.bluetooth_le"/>

    <application
        android:name="co.onlini.beacome.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="co.onlini.beacome.ui.activity.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Blue">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/browsable_host"
                    android:pathPrefix="@string/browsable_path_prefix"
                    android:scheme="@string/browsable_scheme"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="beaco.me"
                    android:pathPrefix="/Card/AcceptShare"
                    android:scheme="http"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="co.onlini.beacome.ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.ViewCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Blue">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.EditCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.EditVcardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.SelectBeaconActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.AddBeaconActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.SelectCardsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="co.onlini.beacome.ui.activity.BeaconDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="co.onlini.beacome.ui.activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Blue">
        </activity>

        <service
            android:name=".bluetooth.ScannerService"
            android:exported="false"/>

        <service
            android:name=".bluetooth.AdvertiserService"
            android:exported="false"/>

        <service
            android:name=".DataServiceImpl"
            android:exported="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ae325ad213c8d338acd6ac735ab200ac46cd4849"/>

        <meta-data
            android:name="co.onlini.beacome.UnsafeOkHttpGlideModule"
            android:value="GlideModule"/>

    </application>

</manifest>